<h2>Contact Name</h2>
<div class="top-border"></div>
<div class="main" *ngIf="contact">
    <div class="contact-info">
        <h3>{{contact.contactname}}</h3>
        <label>id: </label><div>{{contact._id}</div>
        <label>name: </label><input [(ngModel)]="contact.contactname" placeholder="name"/>
        <button (click)="goBack()">Back</button>
    </div>
    <div class="center">
        <div></div>
        <div></div>
    </div>
    <div  class="interactions">
        <ul>
            <li></li>
        </ul>
    </div>
</div>
<div class="bottom-border"></div>
