<h2>Contacts</h2>
<div id="scroll">
  <ul class="contacts">
    <li *ngFor="#contact of contacts"
      [class.selected]="contact === selectedContact"
      (click)="onSelect(contact)" (click)="gotoDetail()">
      <div class="contact-name">
        <span class="badge">{{contact.contactname}}</span>
      </div>
      <div class="contact-info">
        <div>Last Interaction: {{contact.contactLastInteraction.LatestInteractionOverall}}</div>
        <br />
        <div>Primary Email: {{contact.contactEmail[0]}}</div>
        <div>Secondary Email: {{contact.contactEmail[1]}}</div>
        <br />
        <div>Primary Number: {{contact.contactPhone[0]}}</div>
        <div>Secondary Number: {{contact.contactPhone[1]}}</div>
        <br />
      </div>
    </li>
  </ul>
</div>
