<h2>Contacts</h2>
<div id="scroll">
  <ul class="contacts">
    <li *ngFor="#contact of contacts"
      [class.selected]="contact === selectedContact"
      (click)="onSelect(contact)">
      <div class="contact-name">
        <span class="badge">{{contact.contactname}}</span>
      </div>
      <div class="contact-info">
        <div>Email: {{contact.contactEmail}}</div>
        <br />
        <div>Number: {{contact.contactPhone}}</div>
        <br />
        <div>Additional Info:</div>
      </div>
    </li>
  </ul>
</div>
