h2 {
  background-color: #0288d1;
  font-size: 1.5em;
  font-weight: 300;
  color: white;
  height: 6vh;
  padding: 2.5vh 0 0 1vw;
  margin: 0;
}

.top-border {
  height: 6vh;
  width: 100vw;
  background: #F5F5F5;
}

.top-border p {
  display: inline;
  position: relative;
  top: 2vh;
  left: 4vw;
}

#reminders {
  left: 28vw;
}

.main {
  height: 64vh;
  width: 100vw;
  background: #F5F5F5;
  margin: 0;
  left: 2vw;
}

.calendar-box {
  height: 64vh;
  width: 30vw;
  margin-left: 3vw;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
  display: inline-block;
  float: left;
  background: white;
}

.calendar {
  list-style-type: none;
}

.cal-entry {
  border: 1px 0 1px 0;
  margin: 1vh 0;
}

.reminder-box {
  height: 64vh;
  width: 61vw;
  background: white;
  position:relative;
  margin-left: 36vw;
  overflow: scroll;
  overflow-x: hidden;
}

.specials {
  list-style-type: none;
}

.bottom-border {
  height: 6vh;
  width: 100vw;
  background: #F5F5F5;
}
