<h2>Dashboard</h2>
<div class="top-border"><p id="upcoming">Upcoming Events</p><p id="reminders">Reminders</p></div>
<div class="main">
    <div class="calendar-box">
        <ul class="calendar">
            <div *ngFor="#event of events" class="cal-entry">{{event.eventSummary}}<br />
              <span>Date: {{event.eventDate}}</span>
              <br /><br /><br />
            </div>
        </ul>
    </div>
    <div class="reminder-box">
        <ul class="specials">
            <div *ngFor="#contact of contacts">{{contact.contactname}}<br /><br />
              <span>Last Interaction: {{contact.contactLastInteraction.LatestInteractionOverall}}</span><br />
              <span>Primary Phone: {{contact.contactPhone[0]}}</span> <br />
              <span>Primary Email: {{contact.contactEmail[0]}}</span>
              <br /><br /><br />
            </div>
        </ul>
    </div>
</div>
<div class="bottom-border"></div>

<!-- <div class="dashboard events-side">
    <ul class="events-box events-side">
      <li></li>
    </ul>
</div> -->
<!-- <div *ngFor="#contact of contacts" (click)="gotoDetail(contact)" class="col-1-4">
  <div class="module contact">
    <h4>{{contact.contactname}}</h4>
  </div>
</div> -->
