nav {
  height: 8vh;
  width: 100%;
  position: relative;
}

a, p {
  display: inline;
  font-family: 'Lato';
  color: #778899;
}

.logo {
  font-size: 1.5em;
  text-decoration: none;
  position: relative;
  top: 18%;
  left: 1%;
}

.login, .signup {
  font-size: 1.2em;
  position: relative;
  left: 78%;
  top: 18%;
}
.signup {
  position: relative;
  left: 80%;
}


position: relative;
margin-top: 1vh;
left: 1%;
