main {
  position: absolute;
  top: 25%;
  left: 10%;
}

p {
  font-size: 1.8em;
  color: white;
}

#background-image {
  position: relative;
  height: 85vh;
  width: 100%;
  /*background-image: url('/images/selfie-friends.jpg');*/
  background-image: url('/images/city-people-walking-blur2.jpg');
}
